<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.testsrunner.TestsRunner">
      <runner
            class="org.sharon.cpputest.TestProvider"
            description="Run unit tests CppUTest Framework"
            id="org.sharon.cpputest.runner"
            name="CppUTest Runner">
         <features
               multipleTestFilter="true">
         </features>
      </runner>
   </extension>

</plugin>
